.infobox {
    float: right;
    background-color: #f8f8f8;
    border: 1px solid #a0a0a0;
    line-height: 1.5em;
    width: 25%;
    max-width: 50%;
}
.infobox th {
    vertical-align: top;
    width: 9em;
}

th.title {
    background-color: #ffffff;
}


